table{
    display:block;
    background-color: black;
}
#title{
    color:white;
    padding-left: 20px;
}
.btn{
    padding-left: 20px;
}

#results img, #movie_info img{
  width:100%;
}

@media(min-width:960px){
  #results .col-md-3 .well{
    height: 390px;
  }

  #results .col-md-3 img{
    height:240px;
  }
}

#footer1{
    background-color:grey;
    color:white;
}