table{
    display:block;
    background-color: black;
}
#title{
    color:white;
    padding-left: 20px;
}
.btn{
    padding-left: 20px;
}

#results img, #movie_info img{
  width:100%;
}

@media(min-width:960px){
  #results .col-md-3 .well{
    height: 390px;
  }

  #results .col-md-3 img{
    height:240px;
  }
}

#footer1{
    background-color:grey;
    color:white;
}

#button-group {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn{
  margin-bottom: 3px;
}
#movieInfoHolder{
  padding-top: 10px;
}

.jumbotron{
    background: url("Images/movieimage.jpg") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}